/**
 * @author Jannchie
 * @email jannchie@gmail.com
 * @create date 2018-05-03 08:44:46
 * @modify date 2019-04-15 15:43:32
*/
body {
    margin: 0px;
}

input {
    position: absolute;
    top: 50%;
    left: 45%;
}

.domain {
    display: none;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #8E8883;
    font-size: 12pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.label {
    fill: #5C5C5C;
    font-size: 15pt;
    font-family: "Fira Code", "Source Han Sans CN";
    font-weight: bold
}

.dateLabel {

    fill: #5C5C5C;
    display: table-cell;
    font-size: 60pt;
    font-weight: bold;
    font-family: "Fira Code", "Source Han Sans CN"
}

.dateLabelRed {

    fill: #A72E2E;
    display: table-cell;
    font-size: 90pt;
    font-weight: bold;
    font-family: "Fira Code", "Source Han Sans CN"
}


.days {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 55pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.topLabel {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 40pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.top {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 62pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.value {
    fill: #8A2E2E;
    font-size: 20pt;
    font-weight: 400;
    font-family: "Fira Code", "Source Han Sans CN"
}

.barInfo {
    fill: #FFFFFF;
    font-weight: 800;
    font-size: 24pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.axis-label {
    fill: #635F5D;
    font-size: 32pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.days {
    fill: r#5C5C5C;
    font-weight: bold;
    font-size: 40pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.dayslabel {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 25pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.growth {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 40pt;
    font-family: "Fira Code", "Source Han Sans CN"
}